*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1{
    text-align: center;
    margin:3% 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:3rem;
}
.container{
    width: 500px;
    height: 300px;
    background-color: darkgray;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}
.submit{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.submit label,
.submit input{
    width: 95%;
    margin:5px;
    padding: 10px 0px;
}
.submit button{
    width: 95%;
    margin-top: 30px;
    padding: 10px 0px;
    background-color: cornflowerblue;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: none;
    outline:none;
    border-radius: 20px;
    font-size: 15px;
    transition: .4s;
    cursor: pointer;
}
.submit button:hover{
    background-color: blue;
}
.submit input:focus{
    background-color: aqua;
}